{% load static %}
<!DOCTYPE html>

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Aquacultura Integrada</title>

  <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
  <meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
  <meta name="author" content="FREEHTML5.CO" />


    <!-- Facebook and Twitter integration -->
  <meta property="og:title" content=""/>
  <meta property="og:image" content=""/>
  <meta property="og:url" content=""/>
  <meta property="og:site_name" content=""/>
  <meta property="og:description" content=""/>
  <meta name="twitter:title" content="" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:url" content="" />
  <meta name="twitter:card" content="" />

  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="shortcut icon" href="favicon.ico">

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

  <!-- Icomoon Icon Fonts-->
  <link rel="stylesheet" href="{% static 'blog/css/icomoon.css' %}">
  <!-- Bootstrap  -->
  <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
  <!-- Owl Carousel -->
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

  <link rel="stylesheet" href="{% static 'blog/css/style.css' %}">

  <link rel="stylesheet" href="{% static 'blog/css/animate.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/estilo.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/lightbox.css' %}">
  <link rel="stylesheet" href="{% static 'blog/css/responsive.css' %}">

  <!-- Modernizr JS -->
  <script src="{% static 'js/modernizr-2.6.2.min.js' %}"></script>
  <!-- FOR IE9 below -->
  <!--[if lt IE 9]>
  <script src="js/respond.min.js"></script>
  <![endif]-->


      <!-- MENU -->
  </head>

  <body>
    <div class="box-wrap">
      <header role="banner" id="fh5co-header">
        <nav class="navbar navbar-default" id="mainnav">
          <div class="container">
            <div class="row">
              <div class="col-md-4" align="center">
                <div class="fh5co-navbar-brand">
                  <a class="fh5co-logo" id="logo1" href="index.html">AQUACULTURA </a> 
                  <a class="fh5co-logo" id="logo2" href="{% url 'home:index' %}"> INTEGRADA </a> 
                </div>
              </div>

              <div class="navbar-header">
                  <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </a>
              </div>

              <div class="col-md-8 main-nav navbar-collapse collapse">
                <ul class="nav text-right">
                  <li><a href="{% url 'home:index' %}" class="scroll-link"><span>Home</span></a></li>
                  <!--<li><a href="#gtco-team" class="scroll-link">Equipe</a></li>
                  <li><a href="#fh5co-product-section" class="scroll-link">Portfólio</a></li>
                  <li><a href="{% url 'home:service' %}">Serviços</a></li>
                  <li><a href="{% url 'home:contact' %}">Contato</a></li>-->
                  <li class="active"><a href="{% url 'blog:home' %}">Blog</a></li>
                </ul>
              </div>
            </div> 
          </div>
        </nav>
      </header>

                  <!-- Categories Widget -->
      <div id="grande-div">
        <div class="container" style="margin-top:10px;">
          <div class="row">
            <div class="col-xs-12 visible-xs animated fadeIn">
              <form method="get" action="blog/search" id="search">
                <input type="hidden" name="sitesearch" value="http://blog.ejectufrn.com.br/"></input>
                <input type="text" placeholder="Pesquisar no site" name="q"></input>
                <button type="submit" id="btnsearch">
                  <img src="{% static 'img/search.svg' %}">
                </button>
              </form>
              <div class="categorias animated fadeIn">
                <button id="btncategoriasup">
                  Categorias
                  <img src="{% static 'img/more.svg' %}">
                </button>
                <ul id="listacategoriasup" class="animated fadeIn" style="display: none;" >
                      <li>
                        <a href="/">
                          Todas
                        </a>
                      </li>
                      {% for categoria in categorias %}
                        <li>
                          <a href="{{ categoria.get_absolute_url }}">
                            {{categoria.nome}}
                          </a>
                        </li>
                      {% endfor %}
                </ul>
              </div>
            </div>

            <div class="col-md-9">

              <title>Blog - EJECT</title>
              <meta name="description" content="Acesse nosso blog e tenha disponível conteúdos que irão ajudar sua empresa a crescer">
              <meta name="keywords" content="blog,eject,site,software,empresa,júnior,da,escola,de,ciencias,e,tecnologia,ect,cet">
              <meta name="og:description" content="Acesse nosso blog e tenha disponível conteúdos que irão ajudar sua empresa a crescer">
              <meta name="og:keywords" content="eject,blog,eject,site,software,empresa,júnior,ciencias,tecnologia,ect,cet">
              <meta property="og:title" content="Blog - EJECT">
              <meta property="og:image" content="{% static 'blog/img/iconeject.png' %}">
              <meta property="og:url" content="http://www.ejectufrn.com.br/blog">

              <div class="col-md-12">
                <article class="animated fadeIn">
                  <header class="animated fadeIn">
                    <!-- The title and subtitle shown in your Instant Article -->
                    <h1>{{  post.title }}</h1>
                    <h2>{{  post.subtitle  }}</h2>
                    Categoria:
                      <a href="{{ post.categoria.get_absolute_url }}">{{post.categoria}} </a>
                   
                    <br>by:
                      {% for Editor in post.editor.all %}
                      {% if forloop.counter > 1 and not forloop.last%}
                        ,
                      {% endif %}
                      {% if forloop.last and not forloop.first%}
                        e
                      {% endif %}
                        <a rel="facebook" target=“_blank” href="{{Editor.facebooklink}}">{{Editor.nome}} </a>
                      {% endfor %}
                    <br>        
                    <time class="op-published" datetime="2014-11-11T04:44:16Z">{{ post.published_date }}</time>
                    <br>
                    <div class="fb-like animated fadeIn" data-href="{{ post.get_absolute_url }}" data-layout="button_count" data-action="like" data-size="small" data-show-faces="false" data-share="true"></div>
                  </header>
                  <footer class="textopostagem">
                    {% autoescape off %}
                      <p>{{post.content}}</p>
                    {% endautoescape %}
                    {%if post.picture1%}
                      <figure>
                      <img src="{{post.picture1.url}}">
                      <figcaption>{{post.picturefigcaption1}}</figcaption>
                      </figure>
                    {%endif%}
                    {%if post.text2%}
                      <p>{{post.text2|linebreaks}}</p>
                    {%endif%}
                    {%if post.picture2%}
                      <figure>
                      <img src="{{post.picture2.url}}">
                      <figcaption>{{post.picturefigcaption2}}</figcaption>
                      </figure>
                    {%endif%}
                    {%if post.text3%}
                      <p>{{post.text3|linebreaks}}</p>
                    {%endif%}
                    {%if post.picture3%}
                      <figure>
                      <img src="{{post.picture3.url}}">
                      <figcaption>{{post.picturefigcaption3}}</figcaption>
                      </figure>
                    {%endif%}
                  </footer>
                </article>

                {%if postssemelhantes%}
                <article class="animated fadeIn" style="margin-top: 15px;margin-bottom: 15px;">
                  <div id="categoriassemelhantes" class="animated fadeIn">
                    Veja textos relacionados:
                    <ul class="animated fadeIn">
                      {% for post in postssemelhantes %}
                        <li>
                          <a href="{{ post.get_absolute_url }}">
                            <div class="minipost" style="background-image: url({{post.capa.url}});">
                              <div class="minititulo">
                                  <h5>
                                    {{post.title}}
                                  </h5>
                              </div>
                            </div>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                </article>
                {%endif%}
              </div>
            </div>

            <div class="col-sm-3 hidden-xs animated fadeIn" style="padding-top:5px; margin: 0">
              <form method="get" action="http://www.google.com/search" id="search">
                <input type="hidden" name="sitesearch" value="http://blog.ejectufrn.com.br"></input>
                <input type="text-blog" placeholder="Pesquisar no site" name="q"></input>
                <button type="submit" id="btnsearch">
                    <img src="http://static.ejectufrn.com.br/eject/blog/img/search.svg">
                </button>
              </form>
              <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fejectufrn%2F&tabs=capa&width=262&height=214&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="100%" height="214" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
              <div class="cadastroemail">
                <p>
                  Quer receber por email?
                </p>
                <form action="" method="post" id="formemail">
                  {% csrf_token %}
                  {% for field in form %}
                    {{ field }}
                  {% endfor %}
                  <button type="submit" value="submit" id="btnsend">
                    <img src="http://static.ejectufrn.com.br/eject/blog/img/enviar.svg">
                  </button>
                </form>
              </div>

              <div class="categorias animated fadeIn">
                <button id="btncategoriasright">
                  Categorias
                  <img src="{% static 'blog/img/more.svg' %}">
                </button>
                <ul id="listacategoriasright" >
                </ul>
                <li>
                  <a href="/">
                    Todas
                  </a>
                </li>
                {% for categoria in categorias %}
                <li>
                  <a href="{{ categoria.get_absolute_url }}">
                    {{categoria.nome}}
                  </a>
                </li>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div> <!-- fechando grande div -->
    </div>
            <!-- /.container -->

                  <!-- Footer -->
    <footer id="footer" class="footer">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
            <div class="main-footer">
              <p class="text-center">© 2017 / <a id="eject" target="_blank" href="http://ejectufrn.com.br/">EJECT</a></p>

              <div class="social">
                <a href="#"><i class="icon-twitter-with-circle"></i></a>
                <a href="#"><i class="icon-facebook-with-circle"></i></a>
                <a href="#"><i class="icon-instagram-with-circle"></i></a>
              </div>

            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>