#postagens{
  padding: 0!important;
}
#postagens li{
  padding: 5px;
    margin-top: 5px;
    padding-top: 0px;
    list-style: none;
}

.container{
  width:100%;
}

.linkpost:hover .titulo{
  background-color: rgba(49,60,71,0.94);
  transition: 300ms;
  height: 65px;
  margin-top: -145px;
  padding-top: 5px;
  transition-timing-function: ease-in-out;
}
.linkpost:hover .subtitulo{
  background-color: rgba(49,60,71,0.85);
  transition: 300ms;
  transition-timing-function: ease-in-out;
}
.linkpost:active .titulo{
  transition: 300ms;
  background-color: #fff;
}
.post{
  height: 100%;
  color: black;
  padding-top: 280px;
  box-shadow: 2px 2px 15px #bdbdbd;
  background-color: white;
  background-size: cover;
  background-position: center;
}
.titulo{
  transition-duration: 300ms;
  padding: 0 25px;
  margin-top: -140px;
  display: flex;
  width: 100%;
  height: 60px;
  background-color: rgba(49,60,71,0.83);
}
.subtitulo{
  transition-duration: 300ms;
  padding: 0 25px;
  padding-top: 20px;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: rgba(49,60,71,0.78);
}

.subtitulo h5{
  color: #d8d3d3;
}

.minititulo h5 {
  color:#fff;
}
.post h2{
  margin-top: 20px;
  margin-bottom: 10px;
  font-stretch: bold;
  display: inline-flex;
  max-width: 100%px;
  max-height: 60px;
  font-size: 18px;
  color: white;
}
form{
  box-shadow: 2px 2px 10px #ddd;
  margin-bottom: 10%;
  padding-right: 25px;
  height: 35px;
  background-color: white;
  text-align: center;
}
form input{
  font-size: 1.1em;
  background-color: transparent;
  padding-left: 6px;
  padding-right: 6px;
  width: 100%;
  border:none;
  height: 35px;
  padding-top: 0;
  margin: 0;
}
#btnsearch:active{
  background-color: #f4ae00;
}

#btnsearch{
  background-color: rgba(75, 99, 171, 0.8);
  float: right;
  padding: 5px;
  border:none;
  margin-top: -36px;
  margin-right: -25px; 
  height: 35px;
  width: 35px;
  position: relative;
}
#btnsearch img{
  margin-top: -13px;
  height: 100%;
  position: relative;
}
#backinblack{
  display: none;
  position: fixed;
  z-index: 5;
  height: 100%;
  width:100%;
  background-color: rgba(0,0,0,0.65);
}
#closecadastroemail{
  border:none;
  background-color: transparent;
  margin-top: -5px;
  margin-left: 275px;
  height: 28px;
  width: 25px;
}
#closecadastroemail img{
  margin-top: -5px;
  margin-left: -4px;
  height: 20px;
  width: 20px;
}
#divcadastroemail{
  box-shadow: none!important;
  width: 300px!important;
  top: 40%;
  left: 50%;
  margin-left: -150px;
  position: relative;
  margin-top: 10px;
}
#divcadastroemail p{
  margin-bottom: -26px;
}
.cadastroemail{
  box-shadow: 2px 2px 10px #ddd;
  margin: auto;
  max-width: 500px;
  width: 100%;
}
.cadastroemail p{
  color: white;
  background-color: rgba(75, 99, 171, 0.8);
  margin: 0;
  width: 100%;
  float: left;
  padding-left:5px;
}
#formemail{
  box-shadow: none;
  color: black;
  height: initial;
}
#formemail input{
  height: 35px;
}
#formemail button{
  padding: 4px 2px;
  height: 70px;
  width: 25px;
  float: right;
  margin-top: -70px;
  margin-right: -25px;
  border: none;
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
}
#formemail button img{
  height: 42px;
  width: 21px;
  margin: 0;
  padding: 0;
}

#nome{
  border-bottom: 0.5px solid #ddd;
}
.categoriaescolhida{
  box-shadow: 2px 2px 10px #ddd;
  margin-bottom: 5px;
  margin-top: 5px;
  padding:0;
  text-align: center;
  width: 100%;
  background-color: white;
}
.categoriaescolhida h3{
  font-size: 15px;
  padding: 10px 0;
  margin:0;
  color: grey;
}
.categorias{
  box-shadow: 2px 2px 10px #ddd;
  margin-bottom: 5px;
  color: white;
  margin-top: 10px;
  width: 100%;
  background-color: white;
}
.categorias button{
  text-align: left;
  padding:0px 5px;
  border:none;
  background-color: rgba(75, 99, 171, 0.8);
  width: 100%;
  height: 35px;
}
.categorias img{
  float: right;
  padding: 5px;
  height: 100%;
  position: relative;
}
.categorias ul{
  list-style: none;
  padding-left: 0;
}
.categorias ul li{
  cursor: pointer;
  font-size: 15px;
  font-stretch: semi-condensed;
  padding:5px;
  width: 100%;
  height: initial;
}
.categorias ul li:hover{
  background-color: #f9f9f9;
}
.semp p {
  text-indent: 0px !important;
  padding:0 !important;
}
article{
  margin-top: 5px;
  padding: 20px 10px;
  background-color: white;
  box-shadow: 2px 2px 10px #ddd;
}
article header{
  border-radius: 3px;
  margin-bottom: 15px;
  border-left: 4px solid #7f7f7f;
  padding: 8px;
  padding-right: 0;
}
article header time{
  opacity: 0.6;
  color: black;
}
article header h1{
  color: #4b63ab;
  font-size: 2.5em;
  margin: 0;
}
article header h2{
  color: rgba(75, 99, 171, 0.7);
  font-size: 1.5em;
  margin: 0;
}
.textopostagem p{
  padding: 0 10px;
  word-wrap: break-word;
  text-indent: 15px;
  text-align: justify;
  color: black;
}
.col-xs-12{
  padding-left: 5px !important;
  padding-right: 5px !important;
}
@media all and (min-width: 960px) {
    .textopostagem p{
        font-size: 18px;
    }
    article h3{
    font-size: 22px;
  }
}
 
@media all and (max-width: 959px) and (min-width: 600px) {
    .textopostagem p{
        font-size: 16px;
    }
    article h3{
    font-size: 20px;
  }
}
 
@media all and (max-width: 599px) {
    .textopostagem p{
        font-size: 13px;
    }
    article h3{
    font-size: 18px;
  }
}
article h3{
  color: #f4ae01;
  word-wrap: break-word;
  padding: 0 10px;
}

article figure{
  background-color: #f9f9f9;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  text-align: center;
  font-size: 0.85em;
  margin-bottom: 15px;
}
article img{
  width: 100%;
}
article header iframe{
  margin-top: 4px;
  height: 20px !important;
}
article iframe{
  width: 100%;
  height: 400px;
}

#categoriassemelhantes{
  width: 100%;
}
#categoriassemelhantes ul{
  display: flex;
  padding: 0;
  overflow: auto;
}
#categoriassemelhantes ul::-webkit-scrollbar {height: 12px; background:white; }
#categoriassemelhantes ul::-webkit-scrollbar-track { background: white; }
#categoriassemelhantes ul::-webkit-scrollbar-thumb {border: 2px solid white; border-radius:10px; background:#b0b0b0;  }

#categoriassemelhantes li{
  padding-right: 15px;
  padding-top: 10px;
}
.minipost{
  width: 133px;
  height: 100px;
  color: black;
  padding-top: 100px;
  background-color: white;
  background-size: cover;
  background-position: center;
}

#categoriassemelhantes a:hover .minititulo{
  background-color: rgba(49,60,71,0.9);
  transition-duration: 300ms;
}

.minititulo{
  transition-duration: 300ms;
  padding: 0 1px;
  margin-top: -50px;
  display: flex;
  width: 100%;
  text-align: center;
  height: 50px;
  background-color: rgba(49,60,71,0.75);
}
.minipost h3{
  font-stretch: semi-condensed;
  display: inline-flex;
  max-width: 120px;
  max-height: 50px;
  font-size: 0.85em;
  margin: auto;
  color: white;
}
.download{
  font-size: 2em;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  color: white;
  display: inherit;
  border:5px solid green;
  border-radius: 5px;
  margin: 20px auto;
  background-color: green;
  width: 100%;
  max-width: 250px;
  max-height: 100px;
}
.download:hover{
  color: green;
  background-color:transparent;
  transition-duration: 400ms; 
}
input[type="text-blog"] {
  height: 35px;
}
#grande-div{
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 1%;
  background-color: rgba(0, 144, 202, 0.17);
}













#corpo{
  background-color: rgba(23, 144, 202, 0.15);
}

.titulo-1{
  margin-top: 5%;
  margin-bottom: 5%;
}

.titulo-old {
    transition-duration: 300ms;
    padding: 0 25px;
    margin-top: -130px;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: rgba(49,60,71,0.83);
}

.subtitulo-old {
    transition-duration: 300ms;
    padding: 0 25px;
    display: flex;
    width: 100%;
    height: 80px;
    background-color: rgba(49,60,71,0.78);
}

.post-old {
    height: 100%;
    color: black;
    padding-top: 280px;
    box-shadow: 2px 2px 15px #bdbdbd;
    background-color: white;
    background-size: cover;
    background-position: center;
}

.card {
  margin-bottom: 10%;
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.card-body {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link:hover {
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}

.card > .list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.card > .list-group:last-child .list-group-item:last-child {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.card-img {
  width: 100%;
  border-radius: calc(0.25rem - 1px);
}

.card-img-top {
  width: 100%;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-img-bottom {
  width: 100%;
  border-bottom-right-radius: calc(0.25rem - 1px);
  border-bottom-left-radius: calc(0.25rem - 1px);
}

@media (min-width: 576px) {
  .card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card-deck .card {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1 0 0%;
        flex: 1 0 0%;
    -ms-flex-direction: column;
        flex-direction: column;
    margin-right: 15px;
    margin-left: 15px;
  }
}

@media (min-width: 576px) {
  .card-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
  }
  .card-group .card {
    -ms-flex: 1 0 0%;
        flex: 1 0 0%;
  }
  .card-group .card + .card {
    margin-left: 0;
    border-left: 0;
  }
  .card-group .card:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .card-group .card:first-child .card-img-top {
    border-top-right-radius: 0;
  }
  .card-group .card:first-child .card-img-bottom {
    border-bottom-right-radius: 0;
  }
  .card-group .card:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .card-group .card:last-child .card-img-top {
    border-top-left-radius: 0;
  }
  .card-group .card:last-child .card-img-bottom {
    border-bottom-left-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) {
    border-radius: 0;
  }
  .card-group .card:not(:first-child):not(:last-child) .card-img-top,
  .card-group .card:not(:first-child):not(:last-child) .card-img-bottom {
    border-radius: 0;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
    -webkit-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
  .card-columns .card {
    display: inline-block;
    width: 100%;
  }
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}

.page-item:first-child .page-link {
  margin-left: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.page-item.disabled .page-link {
  color: #868e96;
  pointer-events: none;
  background-color: #fff;
  border-color: #ddd;
}

.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #ddd;
}

.page-link:focus, .page-link:hover {
  color: #0056b3;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #ddd;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}


.form-control-plaintext.form-control-sm, .input-group-sm > .form-control-plaintext.form-control,
.input-group-sm > .form-control-plaintext.input-group-addon,
.input-group-sm > .input-group-btn > .form-control-plaintext.btn, .form-control-plaintext.form-control-lg, .input-group-lg > .form-control-plaintext.form-control,
.input-group-lg > .form-control-plaintext.input-group-addon,
.input-group-lg > .input-group-btn > .form-control-plaintext.btn {
  padding-right: 0;
  padding-left: 0;
}

.form-control-sm, .input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

select.form-control-sm:not([size]):not([multiple]), .input-group-sm > select.form-control:not([size]):not([multiple]),
.input-group-sm > select.input-group-addon:not([size]):not([multiple]),
.input-group-sm > .input-group-btn > select.btn:not([size]):not([multiple]) {
  height: calc(1.8125rem + 2px);
}

.form-control-lg, .input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

select.form-control-lg:not([size]):not([multiple]), .input-group-lg > select.form-control:not([size]):not([multiple]),
.input-group-lg > select.input-group-addon:not([size]):not([multiple]),
.input-group-lg > .input-group-btn > select.btn:not([size]):not([multiple]) {
  height: calc(2.3125rem + 2px);
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item-action {
  width: 100%;
  color: #495057;
  text-align: inherit;
}

.list-group-item-action:focus, .list-group-item-action:hover {
  color: #495057;
  text-decoration: none;
  background-color: #f8f9fa;
}

.list-group-item-action:active {
  color: #212529;
  background-color: #e9ecef;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.list-group-item:focus, .list-group-item:hover {
  text-decoration: none;
}

.list-group-item.disabled, .list-group-item:disabled {
  color: #868e96;
  background-color: #fff;
}

.list-group-item.active {
  z-index: 2;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.list-group-flush .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

.list-group-flush:first-child .list-group-item:first-child {
  border-top: 0;
}

.list-group-flush:last-child .list-group-item:last-child {
  border-bottom: 0;
}

.list-group-item-primary {
  color: #004085;
  background-color: #b8daff;
}

a.list-group-item-primary,
button.list-group-item-primary {
  color: #004085;
}

a.list-group-item-primary:focus, a.list-group-item-primary:hover,
button.list-group-item-primary:focus,
button.list-group-item-primary:hover {
  color: #004085;
  background-color: #9fcdff;
}

a.list-group-item-primary.active,
button.list-group-item-primary.active {
  color: #fff;
  background-color: #004085;
  border-color: #004085;
}

.list-group-item-secondary {
  color: #464a4e;
  background-color: #dddfe2;
}

a.list-group-item-secondary,
button.list-group-item-secondary {
  color: #464a4e;
}

a.list-group-item-secondary:focus, a.list-group-item-secondary:hover,
button.list-group-item-secondary:focus,
button.list-group-item-secondary:hover {
  color: #464a4e;
  background-color: #cfd2d6;
}

a.list-group-item-secondary.active,
button.list-group-item-secondary.active {
  color: #fff;
  background-color: #464a4e;
  border-color: #464a4e;
}

.list-group-item-success {
  color: #155724;
  background-color: #c3e6cb;
}

a.list-group-item-success,
button.list-group-item-success {
  color: #155724;
}

a.list-group-item-success:focus, a.list-group-item-success:hover,
button.list-group-item-success:focus,
button.list-group-item-success:hover {
  color: #155724;
  background-color: #b1dfbb;
}

a.list-group-item-success.active,
button.list-group-item-success.active {
  color: #fff;
  background-color: #155724;
  border-color: #155724;
}

.list-group-item-info {
  color: #0c5460;
  background-color: #bee5eb;
}

a.list-group-item-info,
button.list-group-item-info {
  color: #0c5460;
}

a.list-group-item-info:focus, a.list-group-item-info:hover,
button.list-group-item-info:focus,
button.list-group-item-info:hover {
  color: #0c5460;
  background-color: #abdde5;
}

a.list-group-item-info.active,
button.list-group-item-info.active {
  color: #fff;
  background-color: #0c5460;
  border-color: #0c5460;
}

.list-group-item-warning {
  color: #856404;
  background-color: #ffeeba;
}

a.list-group-item-warning,
button.list-group-item-warning {
  color: #856404;
}

a.list-group-item-warning:focus, a.list-group-item-warning:hover,
button.list-group-item-warning:focus,
button.list-group-item-warning:hover {
  color: #856404;
  background-color: #ffe8a1;
}

a.list-group-item-warning.active,
button.list-group-item-warning.active {
  color: #fff;
  background-color: #856404;
  border-color: #856404;
}

.list-group-item-danger {
  color: #721c24;
  background-color: #f5c6cb;
}

a.list-group-item-danger,
button.list-group-item-danger {
  color: #721c24;
}

a.list-group-item-danger:focus, a.list-group-item-danger:hover,
button.list-group-item-danger:focus,
button.list-group-item-danger:hover {
  color: #721c24;
  background-color: #f1b0b7;
}

a.list-group-item-danger.active,
button.list-group-item-danger.active {
  color: #fff;
  background-color: #721c24;
  border-color: #721c24;
}

.list-group-item-light {
  color: #818182;
  background-color: #fdfdfe;
}

a.list-group-item-light,
button.list-group-item-light {
  color: #818182;
}

a.list-group-item-light:focus, a.list-group-item-light:hover,
button.list-group-item-light:focus,
button.list-group-item-light:hover {
  color: #818182;
  background-color: #ececf6;
}

a.list-group-item-light.active,
button.list-group-item-light.active {
  color: #fff;
  background-color: #818182;
  border-color: #818182;
}

.list-group-item-dark {
  color: #1b1e21;
  background-color: #c6c8ca;
}

a.list-group-item-dark,
button.list-group-item-dark {
  color: #1b1e21;
}

a.list-group-item-dark:focus, a.list-group-item-dark:hover,
button.list-group-item-dark:focus,
button.list-group-item-dark:hover {
  color: #1b1e21;
  background-color: #b9bbbe;
}

a.list-group-item-dark.active,
button.list-group-item-dark.active {
  color: #fff;
  background-color: #1b1e21;
  border-color: #1b1e21;
}