{% extends 'base.html'%}

{% load static %}

{% block content %}

<!-- MENU -->
<header role="banner" id="fh5co-header">
	<nav class="navbar navbar-default" id="mainnav">
		<div class="container">
			<div class="row" style="margin-top:-5px">
				<div class="col-md-4" align="center">
					<div class="fh5co-navbar-brand">
						<img style="height: 100%; margin: 0 5px; width: 13%; padding-top: 1%;" src="{% static 'images/logo.png' %}">
						<a class="fh5co-logo" id="logo1" href="{% url 'home:index' %}">AQUACULTURA </a> 
						<a class="fh5co-logo" id="logo2" href="{% url 'home:index' %}"> INTEGRADA </a> 
					</div>
				</div>

				<div class="navbar-header">
				    <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				    </a>
				</div>

				<div class="col-md-8 main-nav navbar-collapse collapse">
					<ul class="nav text-right">
						<li><a href="{% url 'home:index' %}"><span>Home</span></a></li>
						<li><a href="{% url 'home:index' %}">Equipe</a></li>
						<li><a href="{% url 'home:index' %}"">Portfólio</a></li>
						<li><a href="{% url 'home:service' %}">Serviços</a></li>
						<li class="active"><a href="{% url 'home:contact' %}">Contato</a></li>
						<li><a href="{% url 'blog:home' %}">Blog</a></li>
					</ul>
				</div>
			</div> 
    	</div>
	</nav>
</header>

<!-- FIM DO MENU -->


<!-- END: header -->
<div id="fh5co-intro-section" class="section-overlay animate-box" data-animate-effect="fadeIn">
	<div class="fh5co-intro-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url({% static 'images/slidecontatos.jpg' %});">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 float-overlay">
					<h2>CONTATO</h2>
					<h3>Entre em contato conosco agora.</h3>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- END fh5co-intro-section -->
<div id="fh5co-contact-section">
	<div class="container">
		<div class="col-md-4 animate-box">
			<h3 class="section-title">Nosso endereço</h3>
			<ul class="contact-info" style="font-size: 15px;">
				<li><i class="icon-location-pin"></i>Fazenda Boa Hora, Jandaíra - RN.</li>
				<li><i class="icon-phone2"></i>(84) 9 8830-0120 <br> (84) 9 9984-2610 <br> (84) 9 9401-3399 </li>
				<li><i class="icon-whatsapp"></i>(84) 9 9984-2610 <br>  (84) 9 9401-3399</li>
				<li><i class="icon-mail"></i><a href="">anizio@aquaculturaintegrada.com.br</a></li>
				<li><i class="icon-globe2"></i><a href="{% url 'home:index' %}">www.aquaculturaintegrada.com.br</a></li>
			</ul>
		</div>

		<div class="col-md-8 animate-box">
			<form role="form" method="POST">
				{% if is_valid %}
					<script type="text/javascript">
                       alert("Sua mensagem foi enviada com sucesso. A Aquacultura agradece pelo seu contato!");
                    </script>	
                {% endif %}
                {% csrf_token %}
                	<fieldset>
                	<style type="text/css">
                		.
                	</style>
                	{% for field in form %}
                		{% if field.label == "Mensagem" %}
						<div class="col-md-12 field">
							<label for="{{ field.label }}">{{ field.label_tag }}</label>
							{{ field }}
						</div>
						{% else %}
						<div class="col-md-6 field">
							<label for="{{ field.label }}">{{ field.label_tag }}</label>
							{{ field }}
						</div>
						{% endif %}
						{% if field.errors %}
                            <label for="errors">{{ field.errors }}</label><br><br>
                        {% endif %}
                    {% endfor %}
                    </fieldset>
                    <br>
				<div class="form-group row">
					<div class="col-md-12 field">
						<input type="submit" id="submit" class="btn btn-primary" value="Enviar Mensagem">
					</div>
				</div>

				<style type="text/css">
					.btn{
						margin-left: 12px;
					}
				</style>
			</form>
		</div>
	</div>
</div>

{% endblock %}